[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = fhqtmso
[user]
	email = fhqtmso@gmail.com
[core]
	editor = 'E:/OneDrive/WEIPAN/Sublime Text Build 3083 x64/subl.exe' -w
[difftool "vs2013"]
	cmd = \"G:/Program Files/Common7/IDE/devenv.exe\" '//diff' \"$LOCAL\" \"$REMOTE\"
[difftool "bc4"]
	cmd = \"c:/program files/beyond compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "bc4"]
	cmd = \"c:/program files/beyond compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustexitcode = true
[diff]
	tool = bc4
[merge]
	tool = bc4
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	co = checkout
	ci = commit
	br = branch
	unstage = reset HEAD
	last = log -1
